@charset "UTF-8";

#contentName{
	font-size: 70px;
	padding-bottom: 50px;
}

#contentNamebar{
	border-bottom: 2px solid black;
	width: 100px;
	margin: 0 auto;
	margin-bottom: 50px;
}
.button { /*결제 취소버튼*/
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  display: inline-block;
  /*
  padding: 10px 20px;
  */
  width: 80px; 
  height: 40px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
	float :right;
  background-color: white; 
  color: black; 
  border: 2px solid #1f6054;
}
.button1:hover {
  background-color: #1f6054;
  color: white;
}


