@charset "UTF-8";
.cp_bg{
    background: url(../img/competition_bg.jpg) left center no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
}
.cp_nav{
    width: 100%;
    height: 160px;
    font-weight: bold;
}
.cp_nav_l a{
    color: #fff;
}
.cp_nav_r a{
    color: #fff;
}
.cp_nav_l{
    width: 620px;
    height: 65px;
    background-color: #1f6054;
    color: #fff;
    float: left;
    text-align: center;
    line-height: 60px;
    font-size: 18px;
}
.cp_nav_r{
    width: 620px;
    height: 65px;
    background-color: #d4d4d6;
    color: #fff;
    float: left;
    text-align: center;
    line-height: 60px;
    font-size: 18px;
}
.cp_content{
    text-align: center;
    margin-bottom: 50px;
}
.cp_content h1{
    font-size: 30px;
    margin-top: 30px;
    clear: both;
    padding-top: 50px;
}

#cp_div_bg{
    width: 1000px;
    background-color: #313131;
    height: 5px;
    margin: 0 auto;
}
#cp_div_bg1{
    width: 1000px;
    background-color: #313131;
    height: 5px;
    margin: 0 auto;
}
#cp_table{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    margin-top: 50px;
    border-top: 3px solid #313131;
    color: #222;
}
#cp_table th{
    padding: 15px 0 15px 0;  
    font-weight: bold;
}
#cp_table th:first-child{
    width: 90px;
}
#cp_table th:nth-child(2){
    width: 700px;
}
#cp_table th:last-child{
    width: 110px;
}
#cp_table tr{
    border-top: 1px solid #eee;
    padding: 15px 0 15px 0;
}
#cp_table td{
    line-height: 45px;
}
/*notice View Start*/
#cp_title{
    width: 1000px;
    height: 50px;
    color: #000;
    line-height: 50px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
.cp_notice{
    width: 1000px;
    margin: 0 auto;
    margin-top: 65px;
}
.cp_contentsView{
    width: 1000px;
    margin: 0 auto;
}
#cp_contentsImg{
    width: 1000px;
    padding: 30px 0px 30px 0px;
}
#cp_contents{
    width: 1000px;
    text-align: center;
    padding-bottom: 30px;
}
#cp_date{
     width: 1000px;
    text-align: right;
    font-size: 16px;
    padding-top: 10px;
    
}
/*competitionParticipate start*/
#cp_btn{
    width: 150px;
    margin: 0 auto;
}
#cp_btn button{
    background: #1f6054;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    color: #fff;
    width: 170px;
    margin-top: 20px;
}
.cp_admin_table{
    width: 800px;
    
}
.cp_admin_table tr:nth-child(2n+1){
    background: #f1f1f1;    
}
.cp_admin_table tr td:first-child{
    width: 677px;
}
.cp_th{
    padding: 0px;
}
.cp_table{
    width: 800px;
    margin: 0 auto;
    text-align: left;
    
}
.cp_table input{
    width: 618px;
}
.cp_participant{
    width: 100%;
    line-height: 35px;
}
.cp_form{
    width: 1240px;
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
}
#cp_result{
	width: 187px;
    margin: 0 auto;
    background: #1f6054;
    padding: 10px;
    color: #fff;
    margin-top: 40px;
}
.boardWrite{
	border-top: 2px solid #008546;
    border-bottom: 1px solid #1f6054;
    width: 75%;
}
.boardWrite tr{
	display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.boardWrite tr th:first-child {
    border-left: 0;
}
.boardWrite tr th:last-child{
	padding-top: 25px;
}
.boardWrite tr th{
	background: #fbfbfb;
    text-align: left;
    font-weight: bold;
    font-size: 16px;
    color: #555555;
    border-top: 1px solid #e9e9e9;
    padding-left: 35px;
}
.boardWrite tr td{
	color: #666666;
    text-align: left;
    border-top: 1px solid #e9e9e9;
    line-height: 34px;
    padding: 10px 20px;
    font-size: 13px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.boardWrite tr td input{
	border: 1px solid #e9e9e9;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 32px;
    height: 34px;
    width: 165px;
    padding: 0 10px;
}
.boardWrite tr td textarea {
    border: 1px solid #e9e9e9;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 20px;
    padding: 10px;
    height: 115px;
    vertical-align: top;
}
.boardWrite tr td .full {
    width: 100%;
}



/*요리대회 작성 관리자css*/
#cp_write_btn{
	background-color: #1f6054;
    border: none;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    width: 90px;
}
.competitionWrite{
	border-top: 2px solid #008546;
    border-bottom: 1px solid #1f6054;
    width: 75%;
    margin: 0 auto;
    margin-top: 30px;
}
.competitionWrite tr{
	display: table-row;
    vertical-align: inherit;
    border-color: inherit;
    height: 50px;
    line-height: 50px;
}
.competitionWrite tr th:first-child {
    border-left: 0;
}
.competitionWrite tr th:last-child{
	padding-top: 25px;
}
.competitionWrite tr th{
	background: #fbfbfb;
    text-align: left;
    font-weight: bold;
    font-size: 16px;
    color: #555555;
    border-top: 1px solid #e9e9e9;
    padding-left: 35px;
}
.competitionWrite tr td{
	color: #666666;
    text-align: left;
    border-top: 1px solid #e9e9e9;
    line-height: 34px;
    padding: 10px 20px;
    font-size: 13px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
 .competitionWriteInput{
	border: 1px solid #e9e9e9;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 165px;
    height: 30px;
    padding: 0 10px;
}
#cp_table_td input{
	border: 1px solid #e9e9e9;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px;
    height: 30px;
    vertical-align: middle;
}
.competitionWrite tr td textarea {
    border: 1px solid #e9e9e9;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 20px;
    padding: 10px;
    height: 115px;
    vertical-align: top;
}
.competitionWrite tr td .full {
    width: 100%;
}
#imgdelete{
	background: #1f6054;
    border: none;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    width: 80px;
    font-weight: bold;
    position: absolute;
}
#cp_update{
	background: #1f6054;
    border: none;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    width: 80px;
    font-weight: bold;
    margin-bottom: 30px;
}
.cp_content span{
    padding: 6px;
    color: #000;
    cursor: pointer;
    border: 1px solid #ccc;
}
.cp_content span:active {
	background-color: #1f6054;
	color: #fff;
}
