@charset "UTF-8";
/*로그인 페이지*/
section.login .nav_etc{
    background: url(../img/bg_wave.png) left bottom repeat-x;
    width: 100%;
    text-align: center;
    height: 85px;
    padding-top: 15px;
}
section.join .nav_etc{
    background: url(../img/bg_wave.png) left bottom repeat-x;
    width: 100%;
    text-align: center;
    height: 85px;
    padding-top: 15px;
}
section.memberinsert .nav_etc{
    background: url(../img/bg_wave.png) left bottom repeat-x;
    width: 100%;
    text-align: center;
    height: 85px;
    padding-top: 15px;
}

section.login .container_etc {
	width: 460px;
    margin: 0 auto 30px;
    padding-top: 20px;
}

section.login .container_etc h2 {
	font-size: 30px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
}
section.login .panel-body {
    padding: 0px;
    font-size: 16px;
    line-height: 25px;
}
section.login .container_etc .form-control {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    margin-bottom: -1px !important;
}
section.login .container_etc input {
    height: 40px;
}
section.login .panel-body {
    padding: 30px 50px 40px;
    font-size: 16px;
    line-height: 25px;
}
section.login .container_etc .btn-lg {
    margin-top: 25px;
    height: 60px;
}
section.login .btn-group-lg>.btn, .btn-lg {
    padding: 10px 30px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.3333333;
    border-radius: 3px;
    margin: 0 4px;
    
}
section.login .btn-primary.login {
    color: #fff;
    background-color: #74b243;
    border: 1px solid #497725;
}
section.login .btn-block {
    display: block;
    width: 100%;
}
section.login .checkbox, .radio {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
section.login .panel-body {
    padding: 30px 50px 40px;
    font-size: 16px;
    line-height: 25px;
}
section.login .checkbox label, .radio label {
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
    display: inline-block;
    max-width: 100%;
    font-size: 16px;
    line-height: 25px;
}
section.login .container_etc .checkbox input {
	position: absolute;
    height: auto;
    margin: 6px 0 0;
    
    line-height: normal;
}
section.login .container_etc .guide_txt {
    font-size: 16px;
    color: #555;
}
section.login .checkbox input[type=checkbox]{
	margin-left: -20px;
	
}
section.login .container_etc .help-block {
    color: #999;
    margin-bottom: 25px;
    font-size: 14px;
}
section.login .help-block {
    display: block;
    margin-top: 5px;
}
section.login p {
    margin: 0 0 10px;
}
section.login .container_etc .etc_line {
    border-bottom: 1px solid #dadcdd;
    margin-bottom: 15px;
}
section.login .container_etc .join_btn {
    margin: 15px 0;
    text-align: center;
    border: 1px solid #ddd;
}
section.login .container_etc .join_btn a {
    color: #555;
    display: table-cell;
    width: 1%;
    background: #fff;
    font-size: 13px;
    line-height: 1;
    vertical-align: middle;
    padding: 16px 2px;
    border-right: 1px solid #ddd;
}
section.login div {
    display: block;
}
section.login a{
	text-decoration: none;
	text-align: center;
}
/* 로그인 페이지끝 */

/* 회원가입 체크 페이지*/
section.join .container_etc {
    margin: 0 auto 30px;
    padding-top: 20px;
}

section.join .container_etc .panel-default {
    margin-top: 20px;
    padding-bottom: 20px;
}
section.join .panel-default {
    border-color: #ddd;
}
section.join .panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
}
section.join p {
    margin: 0 0 10px;
}
section.join .container_etc .panel-body {
    padding: 0;
}
section.join .panel-body {
    padding: 30px 50px 40px;
    font-size: 16px;
    line-height: 25px;
}

section.join .btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
    display: table;
    content: " ";
}
section.join :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
section.join form {
    display: block;
    margin-top: 0em;
}
section.join .container_etc input {
    height: 60px;
}
section.join input[type="hidden" i] {
    display: none;
    -webkit-appearance: initial;
    background-color: initial;
    cursor: default;
    padding: initial;
    border: initial;
}
section.join .container_etc .guide_txt2 {
    padding: 0 20px 5px;
    font-size: 16px;
    color: #555;
    font-weight: bold;
}
section.join .container_etc .guide_txt2 input {
    height: auto;
    float: right;
}
section.join .container_etc .etc_line {
    border-bottom: 1px solid #dadcdd;
    margin-bottom: 15px;
}
section.join .container_etc .guide_txt2 {
    padding: 0 20px 5px;
    font-size: 16px;
    color: #555;
    font-weight: bold;
}
section.join .container_etc .panel-body textarea {
    width: 430px;
    height: 200px;
    margin: 0 18px;
    background: #f7f7f7;
    border: 1px solid #f0f0f0;
    padding: 10px;
}

section.join .btn-group-lg>.btn, .btn-lg {
    padding: 10px 30px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.3333333;
    border-radius: 3px;
    margin: 0 4px;
}

section.join .container_etc .btn-lg {
    margin-top: 25px;
    height: 60px;
}

section.join .container_etc .btn {
    margin: 0 4px 20px 0;
    position: relative;
}

section.join .btn-group-lg>.btn, .btn-lg {
    padding: 10px 30px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.3333333;
    border-radius: 3px;
    margin: 0 4px;
}

section.join .btn-primary {
    color: #fff;
    background-color: #74b243;
    border: 1px solid #497725;
}

section.join .btn-default {
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
}

secion.join .panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
}
section.join .panel-default {
    border-color: #ddd;
}
section.join textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    overflow: auto;
}
body.joinback {
    margin: 0;
    background: #f1f1f2;
}
/*회원가입   */
section.memberinsert .container_etc {
    margin: 0 auto 30px;
    padding-top: 20px;
}
section.memberinsert .container_etc h2 {
	font-size:30px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
}
section.memberinsert .container_etc input {
    height: 60px;
}
section.memberinsert .container_etc .form-group {
    margin-bottom: -1px;
}
section.memberinsert .has-feedback {
    position: relative;
}
section.memberinsert .container_etc .form-control {
    display: block;
    width: 95%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    margin-bottom: -1px !important;
}
section.memberinsert .container_etc .id{
	display:inline;
	width:72.3%;
}
section.memberinsert .container_etc .zipCode{
	display:inline;
	width:69%;
}

section.memberinsert .form-control-feedback {
    position: absolute;
    top: 8px;
    right: 0;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    pointer-events: none;
}
section.memberinsert .has-error .form-control-feedback {
    color: #a94442;
}
section.memberinsert .text-danger {
    color: #a94442;
}
section.memberinsert .mag_b_10 {
    margin-bottom: 10px !important;
}
section.memberinsert .container_etc .btn_gender {
    position: absolute;
    z-index: 100;
}
section.memberinsert .input-group-btn {
    position: relative;
    white-space: nowrap;
    width: 1%;
}
section.memberinsert .container_etc .btn_gender span .btn {
    height: 16px;
}
section.memberinsert .btn-default {
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
}
section.memberinsert .container_etc .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    cursor: not-allowed;
    background-color: #eee;
    opacity: 1;
}
section.memberinsert .container_etc .btn-lg {
    margin-top: 25px;
    height: 60px;
}
section.memberinsert .container_etc .btn {
    margin: 25px 4px 20px 0;
    position: relative;
}
section.memberinsert .btn-block {
    display: block;
    width: 100%;
}
section.memberinsert .btn-primary {
    color: #fff;
    background-color: #74b243;
    border: 1px solid #497725;
}
section.memberinsert .btn-success {
    color: #fff;
    background-color: #4a89dc;
    border: 1px solid #497725;
}
section.memberinsert img{
	width: 250px;
	height: 250px;
}
/*마이페이지 업데이트  */

.myPageUpdate h1{
	font-size: 36px;
	margin-bottom: 8px;
	margin-top: 8px;
}
.myPageUpdate table {
	width:40%;
    border-top: 2px solid #666;
}
.myPageUpdate table th{
	 border-bottom: 1px solid #ddd;
	 text-align: left;
	 padding: 12px 0 12px 12px;
}
.myPageUpdate table input[type=text]{
	width: 215px;
	height: 24px;
}
.myPageUpdate table input[type=password]{
	width: 215px;
	height: 24px;
}
.myPageUpdate table tr td{
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 9px 0 9px 12px;
}
.myPageUpdate img{
	width: 250px;
	height: 250px;
}
.myPageUpdate .input{
	height:30px;
	width:150px;
	margin-bottom: 8px;
}
.myPageUpdate .input_addr{
	width: 240px;
	height: 30px;
	
}

/*마이페이지   */
.myPage table {
	width:40%;
    border-top: 2px solid #666;
    margin: 0px auto 0px auto;
    height: 100px;
}
.myPage table th{
	 border-bottom: 1px solid #ddd;
	 text-align: left;
	 padding: 12px 0 12px 12px;
}
.myPage table input{
	width: 80%;
	height: 25px;
}
.myPage table tr td{
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 9px 0 9px 12px;
}
.myPage{
	text-align: center;
}
.myPage button{
	margin-top: 20px;
	width: 80px;
	height: 40px;
}
.myPage h1{
	font-size: 38px;
	margin-bottom: 16px;
}
.myPage p{
	margin-bottom: 16px;
}
 /*아이디찾기*/
 section.findId{
  text-align: center;
 }
 section.findId table{
 margin: 0px auto 0px auto;
 border-top: 2px solid #666;
 width: 30%;
 height: 100px;
 }
 section.findId h1{
 font-size: 40px;
 margin-bottom: 8px;
 }
 section.findId p{
 margin-bottom: 12px;
 }
 section.findId input{
 height: 24px;
 width: 210px;
 }
 section.findId table th{
 border-bottom: 1px solid #ddd;
	 text-align: left;
	 padding: 12px 0 12px 12px;
 }
 section.findId table td{
 border-left: 1px solid #ddd;
 padding: 9px 0 9px 12px;
 border-bottom: 1px solid #ddd;
 }
 section.findId button{
 margin-top: 20px;
 margin-bottom: 40px;
 }
 section.findId .find{
 border: 1px solid #ddd;
 height: 200px;
 }
 /*비밀번호찾기*/
section.findPw{
  text-align: center;
 }
 section.findPw table{
 margin: 0px auto 0px auto;
 border-top: 2px solid #666;
 width: 30%;
 height: 100px;
 }
 section.findPw h1{
 font-size: 40px;
 margin-bottom: 8px;
 }
 section.findPw p{
 margin-bottom: 12px;
 }
 section.findPw input{
 height: 24px;
 width: 210px;
 }
 section.findPw table th{
 border-bottom: 1px solid #ddd;
	 text-align: left;
	 padding: 12px 0 12px 12px;
 }
 section.findPw table td{
 border-left: 1px solid #ddd;
 padding: 9px 0 9px 12px;
 border-bottom: 1px solid #ddd;
 }
 section.findPw button{
 margin-top: 20px;
 margin-bottom: 40px;
 }
 section.findPw .find{
 border: 1px solid #ddd;
 height: 200px;
 }