@charset "UTF-8";
.regi_title {
    background: #f8f8f8;
    border-bottom: 1px solid #e6e7e8;
    padding: 14px 18px;
    font-size: 20px;
    font-weight: bold;
    position: relative;
}
.cont_box {
    padding: 26px 30px;
    border-bottom: 10px solid #f1f1f2;
    margin: 0 -1px;
}
.pad_l_60 {
    padding-left: 60px !important;
}

.pad_b_25 {
    padding-bottom: 25px !important;
}

.cont_box .cont_tit4 {
    width: 140px;
    display: inline-block;
    font-size: 20px;
    font-weight: normal;
    vertical-align: top;
}

.cont_line {
    width: 800px;
    padding: 8px 0 0 0;
}

.cont_line input {
    display: inline-block;
}

.cont_box p {
    font-size: 20px;
    padding: 0 0 0 2px;
    margin: 0 0 22px 0;
    line-height: 50px;
    display: inline-block;
}



.step_cont {
    display: inline-block;
    background: #f5f5f5;
    border: 1px solid #e1e1e1;
    font-size: 16px;
    line-height: 25px;
    vertical-align: bottom;
}

.cont_box input {
    background: #f5f5f5;
    border: 1px solid #e1e1e1;
    font-size: 16px;
    padding-left: 15px;
    height: 50px;
    vertical-align: middle;
    margin-top: -1px;
}

.cont_line input {
    display: inline-block;
}

.cont_box select {
    background: #f5f5f5;
    border: 1px solid #e1e1e1;
    font-size: 16px;
    padding: 8px 2px;
    margin: 0 2px 0 0;
    border-radius: 4px;
}

.cont_box .guide {
    font-size: 14px;
    display: inline-block;
    line-height: 1.8;
    margin-top: 6px;
    color: #999;
    background: url(../img/recipe/icon_tip.png) left 2px no-repeat;
    padding: 0 0 0 20px;
    vertical-align: top;
}

.img_up_list {

    float: right;
    font-size: 0;
    margin-right: 60px;
}

.img_up_list .img_box {
    display: inline-block;
    vertical-align: top;
    margin: 0 8px;
    border: 1px solid #ccc;
    overflow: hidden;
    position: relative;
    height: 250px;
    width: 250px;
}

.img_up_list .img_box img {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 8;
}

.img_up_list .img_box .del_btn {
    position: absolute;
    right: 5px;
    top: 5px;
    padding: 3px 5px;
    z-index: 999;
    background-color: red;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    line-height: 16px;
    color: white;
}

.img_up_list .img_box .upload_btn {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 5;
}

.img_box .hide{
    display: none;
}
.img_box .upload_btn{
    background: url("../img/recipe/pic_none4.gif");
}


.cont_line .thumb_m {
    display: inline-block;
    margin-left: 10px;
}

/*.step_cont {*/
/*    display: inline-block;*/
/*    vertical-align: middle;*/
/*    background: #f5f5f5;*/
/*    border: 1px solid #e1e1e1;*/
/*    font-size: 16px;*/
/*    line-height: 25px;*/
/*}*/

img {
    vertical-align: middle;
}

.cont_box .noti {
    color: #f43434;
    font-size: 13px;
    text-align: center;
    border-top: 1px solid #e4e4e4!important;
    padding-top: 15px;
}

.cont_box .cont_tit3 {
    font-size: 20px;
    font-weight: normal;
    margin: 0;
    width: 100%;
}

.btn_add .btn {
    border: none;
    background: none;
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 16px;
    color: #444;
}

.btn_add .btn span {
    color: #74b243;
    font-size: 16px;
    margin-right: 4px;
}


.regi_btm .btn-lg {
    padding: 12px 50px;
}
.btn-group-lg>.btn, .btn-lg {
    padding: 10px 30px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.3333333;
    border-radius: 3px;
    margin: 0 4px;
}

.btn-primary {
    color: #fff;
    background-color: #74b243;
    border: 1px solid #497725;
}

.regi_btm .btn-lg {
    padding: 12px 50px;
}
.btn-group-lg>.btn, .btn-lg {
    padding: 10px 30px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.3333333;
    border-radius: 3px;
    margin: 0 4px;
}
.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border: 1px solid #d88e24;
}

.regi_btm .btn-lg {
    padding: 12px 50px;
}
.btn-group-lg>.btn, .btn-lg {
    padding: 10px 30px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.3333333;
    border-radius: 3px;
    margin: 0 4px;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
}

.regi_btm {
    border: 1px solid #e6e7e8;
    background: #fff;
    text-align: center;
    padding: 35px 0 40px 0;
    border-top: none;
}

.cont_box .cont_tit2_1 {
    width: 120px;
    display: inline-block;
    font-size: 30px;
    font-weight: normal;
    vertical-align: top;
    color: #74b243;
    margin-left: 70px;
}

.cont_box p {
    font-size: 20px;
    padding: 0 0 0 2px;
    margin: 0 0 22px 0;
    line-height: 50px;
    display: inline-block;
}
.mag_b_25 {
    margin-bottom: 25px !important;
}
.btn_add {
    text-align: center;
}

.step {
    display: inline-block;
    margin: 6px 0;
}


.step_btn {
    display: inline-block;
    vertical-align: top;
}

.step_btn a {
    width: 30px;
    height: 30px;
    background: #eee;
    color: #999;
    display: block;
    font-size: 13px;
    text-align: center;
    margin: 1px;
    line-height: 30px;
}

.step_btn a span {
    padding-top: 7px;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.glyphicon-chevron-down:before {
    content: "▼";
    font-weight: bold;
}
.glyphicon-chevron-up:before {
    content: "▲";
    font-weight: bold;
}

.glyphicon-plus:before {
    content: "+";
    font-weight: bold;
}

.glyphicon-remove:before {
    content: "x";
    font-weight: bold;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
}
/*.btn {*/
/*    display: inline-block;*/
/*    padding: 6px 20px;*/
/*    margin: 0 2px;*/
/*    font-size: 14px;*/
/*    font-weight: 700;*/
/*    line-height: 1.42857143;*/
/*    text-align: center;*/
/*    white-space: nowrap;*/
/*    vertical-align: middle;*/
/*    -ms-touch-action: manipulation;*/
/*    touch-action: manipulation;*/
/*    cursor: pointer;*/
/*    -webkit-user-select: none;*/
/*    -moz-user-select: none;*/
/*    -ms-user-select: none;*/
/*    user-select: none;*/
/*    background-image: none;*/
/*    border: 1px solid transparent;*/
/*    border-radius: 3px;*/
/*}*/

.glyphicon-plus-sign:before {
    content: "+";
    font-weight: 700;
}

.step_btn a:hover, .step_btn a:active, .step_btn a.active {background:#53961f; color:#fff;}

.cont_box .cont_tit4 {
    width: 140px;
    display: inline-block;
    font-size: 20px;
    font-weight: normal;
    vertical-align: top;
}
.cont_box p {
    font-size: 20px;
    padding: 0 0 0 2px;
    margin: 0 0 22px 0;
    line-height: 50px;
    display: inline-block;
}
.complete_pic {
    position: relative;
    width: 140px;
    height: 140px;
    display: inline-block;
    margin: 0 4px 8px;
    vertical-align: top;
}
.rcp_m_list2 {
    margin-top: 30px;
    padding: 0 22px;
}
.rcp_m_list2 .m_list_tit {
    font-size: 18px;
    color: #333;
    /*padding: 5px 0 20px 8px;*/
    padding: 5px 0 20px 16px;
}
.rcp_m_list2 .m_list_tit b {
    color: #74b243;
    font-size: 30px;
}
.pull-right {
    float: right!important;
}
.nav-tabs2 {
    border: 1px solid #e0e0e0;
    padding-bottom: 1px;
    font-size: 15px;
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
}
.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
    display: table;
    content: " ";
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.nav-tabs2>li {
    float: left;
    margin-bottom: -1px;
    background: #fff;
    border-right: 1px solid #e0e0e0;
    color: #999;
}
.nav>li {
    position: relative;
    display: block;
}
.nav-tabs2>li.active>a, .nav-tabs2>li.active>a:focus, .nav-tabs2>li.active>a:hover {
    cursor: default;
    background-color: #1f6054;
    border-bottom-color: transparent;
    color: #fff;
}
a:hover{
    text-decoration: none;
}
.nav-tabs2>li>a {
    line-height: 1.42857143;
    border: 1px solid transparent;
    padding: 8px 30px;
    color: black;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 19px;
}
.btn-group-vertical>.btn-group:after, .btn-toolbar:after, .clearfix:after, .container-fluid:after, .container:after, .dl-horizontal dd:after, .form-horizontal .form-group:after, .modal-footer:after, .nav:after, .navbar-collapse:after, .navbar-header:after, .navbar:after, .pager:after, .panel-body:after, .row:after {
    clear: both;
}
.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
    display: table;
    content: " ";
}

.rcp_m_list2 .row {
    margin: 0 -4px 0 -4px;
}
.row:before{
    display: table;
    content: " ";
}
.rcp_m_list2 .row .col-xs-4 {
    padding: 0 20px;
}
.col-xs-4 {
    width: 25%;
    float: left;
    position: relative;
}
.rcp_m_list2 .thumbnail {
    border-radius: 0;
    padding: 0;
    height: 400px;
    width: 277px;
}
.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
    box-shadow: 0 2px 3px #eee;
}
.rcp_m_list2 .thumbnail img {
    border-bottom: 1px solid #e6e7e8;
}
.thumbnail a>img, .thumbnail>img {
    margin-right: auto;
    margin-left: auto;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    max-width: 100%;
    height: auto;
}
img {
    vertical-align: middle;
}
img {
    border: 0;
}
.rcp_m_list2 .thumbnail .caption {
    padding: 10px 20px;
}
.thumbnail .caption {
    padding: 9px;
    color: #333;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.rcp_m_list2 .thumbnail .caption h4 {
    font-size: 16px;
    font-weight: bold;
}
.rcp_m_list2 .thumbnail .caption p {
    color: #999;
    margin: 0;
}
.detail {
    float: left;
    width: 70%;
    border: 1px solid black;
}
.main_img {
    position: relative;
    width: 600px;
    height: 600px;
    margin: 20px auto 20px;
}
.main_img img{
    min-width: 600px;

}
.detail_right{
    float: right;
    width: 30%;
}

.detail_content{
    text-align: center;
    overflow: auto;
    border: 1px solid black;
}

.recipe_step {
    width: 860px;
    margin: 10px;
    overflow: auto;
}

.step_text {
    float: left;
    width: 450px;
    height: 170px;
    padding: 20px;
    border: 1px solid black;
    margin: 10px;
}
.step_img{
    float: left;
    width: 320px;
    height: 170px;
    border: 1px solid black;
    margin: 10px;
}

.step_img img{
    max-width: 100%;
    height: auto;
}

.image-container{
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.user_profile{
    width: 180px;
    height: 200px;
}
.user_info table tr{
    text-align: center;
    height: 50%;
}

.recipe_title{
    margin: 10px 0;
}
.recipe_title{
    display: inline-block; width: 200px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
}
.detail_right>div{
    width: 100%;
}
