@charset "UTF-8";
.search {
    width: 40%;
    margin: 0 auto;
    overflow: auto;
}
.search div{
    width: fit-content;
    margin: 5px;
}
.search select{
    width: 200px;
    padding: .8em .5em;
    border: 1px solid #999;
    font-family: inherit;
    /*background: url('arrow.jpg') no-repeat 95% 50%;*/
    border-radius: 0px;
    /*-webkit-appearance: none;*/
    /*-moz-appearance: none;*/
    /*appearance: none;*/
}
.search_filter{
    height: 48px;
    width: 400px;
    border: 1px solid #1f6054;
    background: #ffffff;
}
.search_filter input{
    font-size: 16px;
    width: 325px;
    padding: 10px;
    border: 0;
    outline: none;
    float: left;
}
.search_filter button{
    width: 77px;
    height: 46px;
    border: 0;
    background: #1f6054;
    outline: none;
    float: right;
    color: #ffffff;
}

input:-ms-input-placeholder {color: #a8a8a8;}
input::-webkit-input-placeholder {color: #a8a8a8;}
input:-moz-placeholder {color: #a8a8a8;}

.rcp_reg{
    display: inline-block;
    float: right;
}
div.category, div.search_filter{
    float: left;
}

.search:after{
    clear: both;
    content: "";
}
div{
    overflow: auto;
}
.pageNo{
    color:black;
    border: 1px solid lightgray;
    width:30px;
    height:30px;
    line-height:30px;
    margin:5px;}
.pageSelected{
    color:white;
    background-color:#1f6054;
    border: 1px solid lightgray;
    display:inline-block;
    width:30px;
    height:30px;
    line-height:30px;
    margin:5px;}
.pageBtn{
    color:black;
    border: 1px solid lightgray;
    width:30px;
    height:30px;
    line-height:30px;
    margin:5px;}
.pageNo:hover{
    border-color: #1f6054;
}
.pageBtn:hover{
    border-color: #1f6054;
}


