@charset "UTF-8";
.regi_title {
    background: #f8f8f8;
    border-bottom: 1px solid #e6e7e8;
    padding: 14px 18px;
    font-size: 20px;
    font-weight: bold;
    position: relative;
}
.cont_box {
    padding: 26px 30px;
    border-bottom: 10px solid #f1f1f2;
    margin: 0 -1px;
}
.pad_l_60 {
    padding-left: 60px !important;
}

.pad_b_25 {
    padding-bottom: 25px !important;
}

.cont_box .cont_tit4 {
    width: 140px;
    display: inline-block;
    font-size: 20px;
    font-weight: normal;
    vertical-align: top;
}

.cont_line {
    width: 800px;
    padding: 8px 0 0 0;
}

.cont_line input {
    display: inline-block;
}

.cont_box p {
    font-size: 20px;
    padding: 0 0 0 2px;
    margin: 0 0 22px 0;
    line-height: 50px;
    display: inline-block;
}



.step_cont {
    display: inline-block;
    vertical-align: middle;
    background: #f5f5f5;
    border: 1px solid #e1e1e1;
    font-size: 16px;
    line-height: 25px;
}

.cont_box input {
    background: #f5f5f5;
    border: 1px solid #e1e1e1;
    font-size: 16px;
    padding-left: 15px;
    height: 50px;
    vertical-align: middle;
    margin-top: -1px;
}

.cont_line input {
    display: inline-block;
}

.cont_box select {
    background: #f5f5f5;
    border: 1px solid #e1e1e1;
    font-size: 16px;
    padding: 8px 2px;
    margin: 0 2px 0 0;
    border-radius: 4px;
}

.cont_box .guide {
    font-size: 14px;
    display: inline-block;
    line-height: 1.8;
    margin-top: 6px;
    color: #999;
    background: url(../img/recipe/icon_tip.png) left 2px no-repeat;
    padding: 0 0 0 20px;
    vertical-align: top;
}

.img_up_list {

    float: right;
    font-size: 0;
    margin-right: 60px;
}

.img_up_list .img_box {
    display: inline-block;
    vertical-align: top;
    margin: 0 8px;
    border: 1px solid #ccc;
    overflow: hidden;
    position: relative;
    height: 250px;
    width: 250px;
}

.img_up_list .img_box img {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 8;
}

.img_up_list .img_box .del_btn {
    position: absolute;
    right: 5px;
    top: 5px;
    padding: 3px 5px;
    z-index: 999;
    background-color: red;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    line-height: 16px;
    color: white;
}

.img_up_list .img_box .upload_btn {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 5;
}

.img_box .hide{
    display: none;
}
.img_box .upload_btn{
    background: url("../img/recipe/pic_none4.gif");
}


.cont_line .thumb_m {
    display: inline-block;
    margin-left: 10px;
}

.step_cont {
    display: inline-block;
    vertical-align: middle;
    background: #f5f5f5;
    border: 1px solid #e1e1e1;
    font-size: 16px;
    line-height: 25px;
}

img {
    vertical-align: middle;
}

.cont_box .noti {
    color: #f43434;
    font-size: 13px;
    text-align: center;
    border-top: 1px solid #e4e4e4!important;
    padding-top: 15px;
}

.cont_box .cont_tit3 {
    font-size: 20px;
    font-weight: normal;
    margin: 0;
    width: 100%;
}

.btn_add .btn {
    border: none;
    background: none;
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 16px;
    color: #444;
}

.btn_add .btn span {
    color: #74b243;
    font-size: 16px;
    margin-right: 4px;
}


.regi_btm .btn-lg {
    padding: 12px 50px;
}
.btn-group-lg>.btn, .btn-lg {
    padding: 10px 30px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.3333333;
    border-radius: 3px;
    margin: 0 4px;
}

.btn-primary {
    color: #fff;
    background-color: #74b243;
    border: 1px solid #497725;
}

.regi_btm .btn-lg {
    padding: 12px 50px;
}
.btn-group-lg>.btn, .btn-lg {
    padding: 10px 30px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.3333333;
    border-radius: 3px;
    margin: 0 4px;
}
.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border: 1px solid #d88e24;
}

.regi_btm .btn-lg {
    padding: 12px 50px;
}
.btn-group-lg>.btn, .btn-lg {
    padding: 10px 30px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.3333333;
    border-radius: 3px;
    margin: 0 4px;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
}

.regi_btm {
    border: 1px solid #e6e7e8;
    background: #fff;
    text-align: center;
    padding: 35px 0 40px 0;
    border-top: none;
}

.cont_box .cont_tit2_1 {
    width: 120px;
    display: inline-block;
    font-size: 30px;
    font-weight: normal;
    vertical-align: top;
    color: #74b243;
    margin-left: 70px;
}

.cont_box p {
    font-size: 20px;
    padding: 0 0 0 2px;
    margin: 0 0 22px 0;
    line-height: 50px;
    display: inline-block;
}
.mag_b_25 {
    margin-bottom: 25px !important;
}
.btn_add {
    text-align: center;
}

.step {
    display: inline-block;
    margin: 6px 0;
}

:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.step_btn {
    display: inline-block;
    vertical-align: middle;
}

.step_btn a {
    width: 30px;
    height: 30px;
    background: #eee;
    color: #999;
    display: block;
    font-size: 13px;
    text-align: center;
    margin: 1px;
    line-height: 30px;
}

.step_btn a span {
    padding-top: 7px;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.glyphicon-chevron-down:before {
    content: "▼";
    font-weight: bold;
}
.glyphicon-chevron-up:before {
    content: "▲";
    font-weight: bold;
}

.glyphicon-plus:before {
    content: "+";
    font-weight: bold;
}

.glyphicon-remove:before {
    content: "x";
    font-weight: bold;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
}
.btn {
    display: inline-block;
    padding: 6px 20px;
    margin: 0 2px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 3px;
}

.glyphicon-plus-sign:before {
    content: "+";
    font-weight: 700;
}

.step_btn a:hover, .step_btn a:active, .step_btn a.active {background:#53961f; color:#fff;}

.cont_box .cont_tit4 {
    width: 140px;
    display: inline-block;
    font-size: 20px;
    font-weight: normal;
    vertical-align: top;
}
.cont_box p {
    font-size: 20px;
    padding: 0 0 0 2px;
    margin: 0 0 22px 0;
    line-height: 50px;
    display: inline-block;
}
.complete_pic {
    position: relative;
    width: 140px;
    height: 140px;
    display: inline-block;
    margin: 0 4px 8px;
    vertical-align: top;
}