@charset "UTF-8";
@import url('reset.css');
@import url('global.css');
@import url('page.css');
@import url('ui.css');
@import url('recipeDetail.css');




/* @import url('ui.css'); */
/* @import url('jquey-ui.min.css'); */
/* @import url('style.css'); */

.bottom{
    margin-bottom: 60px;
}

.btn-primary {
    color: #fff;
    background-color: #74b243;
    border: 1px solid #497725;
}

.regi_btm .btn-lg {
    padding: 12px 50px;
}
.btn-group-lg>.btn, .btn-lg {
    padding: 10px 30px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.3333333;
    border-radius: 3px;
    margin: 0 4px;
}

/*font SET*/

@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900|Roboto:300,400,900');