@charset "UTF-8";
.register_title {
    background: #f8f8f8;
    border-bottom: 1px solid #e6e7e8;
    padding: 14px 18px;
    font-size: 20px;
    font-weight: bold;
    position: relative;
}
.content_box {
    padding: 26px 30px;
    border-bottom: 10px solid #f1f1f2;
    margin: 0 -1px;
}
.padding_left_60 {
    padding-left: 60px !important;
}