@charset "UTF-8";
.pageNo{
		color:black;
		border: 1px solid lightgray;
		width:30px;
		height:30px;
		line-height:30px;
		margin:5px;} 
.pageSelected{
		color:white;
		background-color:#1f6054;
		border: 1px solid lightgray;
		display:inline-block;
		width:30px;
		height:30px;
		line-height:30px;
		margin:5px;}
.pageBtn{
		color:black;
		border: 1px solid lightgray;
		width:30px;
		height:30px;
		line-height:30px;
		margin:5px;}
.pageNo:hover{
	border-color: #1f6054;
}
.pageBtn:hover{
	border-color: #1f6054;
}

table * {border:1px solid black; width:100px;height:100px; text-align: center; line-height: 100px;}
	table td{}
	.possible{background-color: lightgreen;}
	.impossible{background-color: lightgray;}