<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<typeAliases>
		<typeAlias type="org.ks.tmr.vo.TMR" alias="tmr"/>
		<typeAlias type="org.ks.competition.vo.Competition" alias="competition"/>
		<typeAlias type="org.ks.talkBoard.vo.TalkBoard" alias="talk"/>
		<typeAlias type="org.ks.cart.vo.Cart" alias="cart"/>
		<typeAlias type="org.ks.member.vo.Member" alias="member"></typeAlias>
	</typeAliases>
</configuration>
