<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<!--null 세팅용-->
	<settings>
		<setting name="cacheEnabled" value="false"/>
		<setting name="callSettersOnNulls" value="true"/>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	<typeAliases>
		<typeAlias type="org.ks.tmr.vo.TMR" alias="tmr"/>
		<typeAlias type="org.ks.tmr.vo.LMR" alias="lmr"/>
		<typeAlias type="org.ks.reservation.vo.Reservation" alias="reservation"/>
		<typeAlias type="org.ks.caravan.vo.Caravan" alias="caravan"/>
		
		<typeAlias type="java.util.Map" alias="map"/>
		<typeAlias type="org.ks.competition.vo.Competition" alias="competition"/>
		<typeAlias type="org.ks.talkBoard.vo.TalkBoard" alias="talk"/>
		<typeAlias type="org.ks.talkBoard.vo.MainBoard" alias="main"/>
		<typeAlias type="org.ks.talkBoard.vo.TalkBoardComment" alias="talkComment"/>
		<typeAlias type="org.ks.talkBoard.vo.BoardLike" alias="bl"/>
		<typeAlias type="org.ks.talkBoard.vo.PrintPage" alias="pp"/>
		<typeAlias type="org.ks.cart.vo.Cart" alias="cart"/>
		<typeAlias type="org.ks.member.vo.Member" alias="member"/>
		<typeAlias type="org.ks.order.vo.Order" alias="order"/>
		<typeAlias type="org.ks.recipe.vo.Category" alias="category"/>
		<typeAlias type="org.ks.recipe.vo.Recipe" alias="recipe"/>
		<typeAlias type="org.ks.participant.vo.Participant" alias="participant"/>
		<typeAlias type="org.ks.participant.vo.ParticipantMember" alias="participantMember"/>
		<typeAlias type="org.ks.freeBoard.vo.FreeBoard" alias="fb"/>
		<typeAlias type="org.ks.freeBoard.vo.FreePrintPage" alias="fpp"/>
	</typeAliases>
</configuration>
