<nav class="lnb_wrap">
	<div class="lnb_con">
		<div class="lnb_show">출고대기 관리</div>
		<ul class="lnb_menu">
			<li>
				<a href="#none" class="menu_name">출고 관리</a>
				<ul class="lnb_sub_menu">
					<li><a href="order_reg.html" class="on">출고관리</a></li>
					<li><a href="reg_list.html" class="">출고관리 미확인</a></li>
					<li><a href="reg_list.html" class="">출고관리 작업중</a></li>
					<li><a href="reg_list.html" class="">출소관리 출고완료</a></li>
					<li><a href="reg_list.html" class="">출소관리 취소</a></li>
				</ul>
			</li>
			<!--			<li>-->
			<!--				<a href="#none" class="menu_name">쇼핑몰 설정</a>-->
			<!--				<ul class="lnb_sub_menu">-->
			<!--					<li><a href="/manager/set/shop.php" class="--><?//=($lCode == '0105' ? ' on' : '')?><!--">쇼핑몰 설정</a></li>-->
			<!--				</ul>-->
			<!--			</li>-->
		</ul>
	</div>
</nav>